@{
    ViewData["Title"] = "Home Page";
}
    <style>
        div > h1 {
            color: white;
        }
        body {
            background-color: black;
        }
    </style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <img src="https://prodimages.everythingled.com/350/black/els-53788-burgers-open-animated-led-sign.gif" style="width:400px;height:400px;">
</div>
